.loader{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid #FCF6B1;
    border-top: 20px solid #5762D5;
    animation: spinAnimate 3s ease-in-out 0s infinite normal ;
     margin: 100px auto;
}

@keyframes spinAnimate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}